@charset "utf-8";
/* CSS Document */

#must_container{width: 911px;	min-height: 400px;	margin: auto;}
#must_top{		background-image: url(images/E01_main.gif);		float: left;	width: 911px;	height: 80px;}
#must_center{	background-image: url(images/E02.gif);			float: left;	width: 911px;	min-height: 306px;	color: #2E2E2E;	line-height: 30px;}

 /* -- center -- */
#must_center_l
{
	float: left;
	width: 263px;
	min-height: 306px;
	
	padding: 0px 20px;
}

.must_title{	width: 568px;	color: #295EBA;	font-size: 18px;}
.must_cont{		width: 508px;	padding: 0px 30px;}

#must_center_l a{			color: #676767;		font-size: 16px;	padding: 0px 0px 0px 30px;}
#must_center_l a:hover{	background-image: url(images/EstarRed.gif);	background-repeat: no-repeat;	background-position: 15px 5px;	color: #B31F1F;}
.must_center_r a{			color: #676767;		font-size: 16px;	padding: 0px 0px 0px 30px;}
.must_center_r a:hover{	background-image: url(images/EstarRed.gif);	background-repeat: no-repeat;	background-position: 15px 5px;	color: #B31F1F;}

.must_center_r
{
	float: left;
	width: 264px;
	min-height: 306px;

	padding: 0px 20px;
}

#must_center_r_contents
{
	float: left;
	width: 568px;
	min-height: 306px;
	
	padding: 0px 20px;
}

#must_center_r_contents table{
    border-collapse:collapse;
}
 /* -- -- */

#must_bottom{	background-image: url(images/E03.gif);			float: left;	width: 911px;	height: 14px;}
