  <a id="btn_aug" href="opt_check.php?rwoID=<{$curr_rwoID}>&request_month=8"><img src="templates/images/btn_aug.png" alt="八月行事曆" /></a>
  <a id="sep01" href="opt_check.php?rwoID=6#content_detail_link"><img src="templates/images/calendar/sep01.gif" alt="第二階段初選(新生初選)" /></a>
  <a id="sep02" href="opt_check.php?rwoID=7#content_detail_link"><img src="templates/images/calendar/sep02.gif" alt="繳交學雜費及就學貸款" /></a>
  <a id="sep03" href="opt_check.php?rwoID=4#content_detail_link"><img src="templates/images/calendar/sep03.gif" alt="啟動E-mail帳號及線上登錄學籍資料" /></a>
  <a id="sep04" href="opt_check.php?rwoID=8#content_detail_link"><img src="templates/images/calendar/sep04.gif" alt="新生進住宿舍" /></a>
  <a id="sep05" href="opt_check.php?rwoID=6#content_detail_link"><img src="templates/images/calendar/sep05.gif" alt="第二階段初選(新生初選)" /></a>
  <a id="sep06" href="opt_check.php?rwoID=10#content_detail_link"><img src="templates/images/calendar/sep06.gif" alt="英文能力分級測驗" /></a>
  <a id="sep07" href="opt_check.php?rwoID=12#content_detail_link"><img src="templates/images/calendar/sep07.gif" alt="中大超級新生營" /></a>
  <a id="sep08" href="opt_check.php?rwoID=13#content_detail_link"><img src="templates/images/calendar/sep08.gif" alt="體檢及適應訓練" /></a>
  <a id="sep09" href="opt_check.php?rwoID=14#content_detail_link"><img src="templates/images/calendar/sep09.gif" alt="僑生大一國文中文能力分級測驗(僑外生中文分級測驗)" /></a>
  <a id="sep10" href="opt_check.php?rwoID=7#content_detail_link"><img src="templates/images/calendar/sep10.gif" alt="繳交學雜費及就學貸款" /></a>
  <a id="sep11" href="opt_check.php?rwoID=8#content_detail_link"><img src="templates/images/calendar/sep11.gif" alt="新生進住宿舍" /></a>
  <a id="sep12" href="opt_check.php?rwoID=11#content_detail_link"><img src="templates/images/calendar/sep12.gif" alt="院系時間" /></a>
  <a id="sep13" href="opt_check.php?rwoID=15#content_detail_link"><img src="templates/images/calendar/sep13.gif" alt="註冊並開始上課" /></a>
  <a id="sep14" href="opt_check.php?rwoID=17#content_detail_link"><img src="templates/images/calendar/sep14.gif" alt="課程加退選" /></a>
  <a id="sep15" href="opt_check.php?rwoID=16#content_detail_link"><img src="templates/images/calendar/sep15.gif" alt="大一國文中文寫作檢定" /></a>
  <a id="sep16" href="opt_check.php?rwoID=9#content_detail_link"><img src="templates/images/calendar/sep16.gif" alt="繳交兵役資料" /></a>
  <a id="sep17" href="opt_check.php?rwoID=17#content_detail_link"><img src="templates/images/calendar/sep17.gif" alt="課程加退選" /></a>
