<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="templates/style.css" />
<table width="652" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2" valign="top" class="td_1_top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="td_2_full_left">
    <table width="318" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="63">&nbsp;</td>
        <td width="255">
				<div style="margin-top:350px"></div>
        <center><img src="templates/images/rw_readfirst_agree.gif"></center>
        <form method="post" action="index_rw_readfirst.php?action=start">
        <center><input name="submit" type="submit" value="我完成了！"></center>
        </form>
        </td>
      </tr>
    </table>
    </td>
    <td valign="top" class="td_2_full_right">
    <div id="opt_chk_td_2_right"></div>
	<div id="opt_chk_td_2_content">
			親愛的使用者，您好：<br />
			　　歡迎使用「大一生活知訊網」的「註冊精靈」，本系統為各位整理了數項較為重要的時程以及各式表單。<br/>
			　　大一新生請務必至「個人資料」進行「e-mail認證」，只要填入「學號」及「出生年月日」後，就可以啟用「註冊精靈」!<br/>
			　　您在完成各事項後可以於本系統點選「我完成囉」，提醒自己該事項是否已完成，不勾選並不會影響到您的權益！另外，在「註冊精靈」首頁的右側有一個房間的圖樣，會依事項之完成比例在房間內新增新的家具喔！<br/><br/>
			註：<br/>1.「我完成囉」的按鈕只有大一新生才會出現<br/>
			2.本系統以提醒為主要目的，不勾選並不會影響到您的權益
	</div>
    </td>
  </tr>
</table>
