<form action="" method="post">
<table border="0">
	<thead>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<{foreach from=$https item='http'}>
	<tr>
		<td><input type="checkbox" name="http[del][]" value="<{$http.url}>" /> <{$http.url}></td>
		<td><input type="text" name="http[data][<{$http.url}>][gilu]" value="<{$http.gilu}>" /></td>
		<td><input type="text" name="http[data][<{$http.url}>][piclimit]" value="<{$http.piclimit}>" /></td>
		<td><input type="text" name="http[data][<{$http.url}>][ord]" value="<{$http.ord}>" /></td>
	</tr>
	<{/foreach}>
	</tbody>
</table>
	<p> new <input type="text" name="http[url]" /></p>
	<p><input type="submit" value="SAVE" /></p>
</form>
<hr />
<{ foreach from=$userdata item='elf' }>
<div><a href="<{$currconfig->url}>/show_pfile.php?uno=<{$elf.uno}>"><{$elf.uno}></a> :: <{$elf.count}> </div>
<{ /foreach }>

<{ foreach from=$plink item='page' }>
<{$page}>
<{ /foreach }>
