<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
</head>
<body>

<form action="save.php" method="post" enctype="multipart/form-data" >
圖片：<input name="pic" type="file" /><br />
名稱：<input name="name" type="text" /><br />
價格：<input name="price" type="text" /><br />
數量：<input name="number" type="text" /><br />
分類：

<select name="tag" size="1">
<option>請 選 擇</option>
<{section name=i loop=$contents}>
<option value="<{$contents[i].ino}>"><{$contents[i].item}></option>
<{/section}>
<option value="">----------------(這是分格線)</option>
<{section name=i loop=$contents}>
<option value="<{$contents[i].ino}>_all"><{$contents[i].item}>(全)</option>
<{/section}>
<option value="">----------------(這是分格線)</option>
<option value="puzzle_bag">拼圖包</option>
<option value="head">頭像</option>
<option value="special">其他</option>
</select>
(非頭像，拼圖或拼圖包類的，請歸在其他類)
<br />

下架日期：<input name="downd" type="text" />(oooo/oo/oo)<br />
說明：<textarea name="derict" cols="20" rows=""></textarea><br />
<input name="" type="submit" value="確定" />
</form>
<form action="index.php" >
<input name="" type="submit" value="回商品區" />
</form>

</body>
</html>
