<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="include/jquery-ui/development-bundle/jquery-1.3.2.js"></script>
<script type="text/javascript" src="link_car.js"></script>
<link href="car.css" rel=stylesheet type=text/css />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2009國立中央大學 大一生活知訊網-購物商城</title>
</head>


<body>
<div id = "background">
  <div class = "center">
<div id="shop_num"></div>
    <span class="funny"><a onMouseOver="MM_swapImage('ifunny','','shop_pic/headfunnychange.png',1)" onMouseOut="MM_swapImgRestore()" href="items.php"><img id="ifunny" style="border:none;" src="shop_pic/headfunny.png"/></a></span> 
    <span class="head"><a onMouseOver="MM_swapImage('ihead','','shop_pic/funnyheadchange.png',1)" onMouseOut="MM_swapImgRestore()" href="head.php"><img id="ihead" style="border:none;" src="shop_pic/funnyhead.png"/></a></span> 
    <span class="money"></span> 
    <span class="coin"><{$coins}></span>
  

  <div id="space">
  <span id = "speek">*若加上您已擁有的拼圖量，您選購超過數量的拼圖，系統會自動忽略多餘的量</span>
    <div id="good_space">
<{section name=i loop=$car_head_arr}>  
   <span class="good" >
   <br /><span id="shop_all<{$car_head_arr[i].ino}>">
    <img width="100" height="100" src="items_pic/<{$car_head_arr[i].pic}>"><br />
    物品名稱：<{$car_head_arr[i].item}><br />
    售價：<{$car_head_arr[i].price}><br />
    購買數量:1<br />
    <input type="button" onClick="leavecar( <{$car_head_arr[i].ino}> )" value="取消購買"/></span>
    </span>
<{/section}> 

<{section name=j loop=$car_puzzle_bag_arr}>  
<span class="good" >
    <br /><span id="shop_all<{$car_puzzle_bag_arr[j].ino}>">
    <img width="100" height="100" src="items_pic/<{$car_puzzle_bag_arr[j].pic}>"><br />
    物品名稱：<{$car_puzzle_bag_arr[j].item}><br />
    售價：<{$car_puzzle_bag_arr[j].price}><br />
    購買數量:<input type="text" id ="number" value="<{$car_puzzle_bag_arr[j].much}>" size=1><br /> 
    <input type="button" onClick="changemuch( <{$car_puzzle_bag_arr[j].ino}> );" value="變更數量"/>
<br />
    <input type="button" onClick="leavecar( <{$car_puzzle_bag_arr[j].ino}> );" value="取消購買"/></span> 
</span>
<{/section}> 


<{section name=k loop=$car_other_arr}>  
<span class="good" >
    <br />
    <span id="shop_all<{$car_other_arr[k].ino}>">
    <img width="100" height="100" src="items_pic/<{$car_other_arr[k].pic}>"><br />
    物品名稱：<{$car_other_arr[k].item}><br />
    售價：<{$car_other_arr[k].price}><br />
    購買數量:<br />
    <input type="button" onClick="leavecar( <{$car_other_arr[k].ino}> );" value="取消購買"/>
    </span>
  </span>
<{/section}> 
</div>

 <div class="down"> 
 <form action="getgood.php" method="post">
  <input name="button" type="submit" value="確認購買"/>
 </form>
 </div> 
   
   </div>
 </div>
</div>
</body>
</html>