<form action="" method="post">
  <table border="1">
    <tr><td>群組名稱</td><td><input type="text" size="20" name="name" /></td></tr>
	<tr><td>群組介紹</td><td><input type="text" size="20" maxlength="25" name="introduce" /></td></tr>
	<tr><td>群組進版語</td><td><textarea cols="30" rows="15" name="motd"></textarea></td></tr>
	<tr><td>公開與否</td><td><input type="radio" checked name="public" value="1" />公開&nbsp;&nbsp;&nbsp;<input type="radio" name="public" value="0" />隱藏</td></tr>
  </table>
    <br />
  <input type="reset" value="重填" /><input type="submit" value="送出" />
</form>