<form method="post" action="">
  <table>
    <tr>
      <td>事件名稱</td>
      <td><input type="text" name="subject" value="<{$sch.subject}>" size="20" /></td>
    </tr>
    <tr>
      <td>時間</td>
      <td><input type="text" name="stDate" value="<{$sch.start_date}>" size="10" /> 到 <input type="text" name="edDate" value="<{$sch.end_date}>" size="10" /></td>
    </tr>
    <tr>
      <td>重複頻率</td>
      <td><{html_radios name="itype" options=$itype_radio selected=$itype_def separator="<br />"}></td>
    </tr>
    <tr id="interval" style="display: none">
      <td>重複週期</td>
      <td><input type="text" name="interval" value="<{$sch.interval}>" size="5" /></td>
    </tr>
    <tr id="weekdays" style="display: none">
      <td>星期</td>
      <td><{html_checkboxes name="wdays" options=$wdays_chbox selected=$wdays_def separator="&nbsp;"}></td>
    </tr>
    <tr>
      <td>事件內容</td>
      <td><textarea name="content" rows="10" cols="50"><{$sch.content}></textarea></td>
    </tr>
    <tr>
      <td>修改範圍</td>
      <td><{html_radios name="ctype" options=$ctype_radio selected=$ctype_def separator="<br />"}></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="hidden" name="schModify" value="1" /><input type="hidden" name="sno" value="<{$sch.sno}>" /><input type="submit" value="確定" />&nbsp;<input type="reset" value="取消" /></td>
    </tr>
  </table>
</form>
<script type="text/javascript">
switch ($$('input[name=itype][checked]')[0].value) {
	case 'N':
		$('interval').hide();
		$('weekdays').hide();
		break;
	case 'W':
		$('interval').show();
		$('weekdays').show();
		break;
	default:
		$('interval').show();
		$('weekdays').hide();
		break;
}

$$('input[name=itype]').each(function(_this){
	if(_this.value == 'N')
		_this.onclick = function(e){
			$('interval').hide();
			$('weekdays').hide();
		};
	else if(_this.value == 'W')
		_this.onclick = function(e){
			$('interval').show();
			$('weekdays').show();
		};
	else
		_this.onclick = function(e){
			$('interval').show();
			$('weekdays').hide();
		};
});
</script>
