<div class="blue_back">
	<div class="field_top_top">
		<img src="templates/images/calendar.gif" class="field_title"/>
		<div style="margin: -20px 0px 80px 470px;float:none;font-size:14pt;">
			回到&gt;&gt;
			<a href="<{$currconfig->url}>/redirect.php?1" style="color:black;text-decoration:none;margin:10px 0 0 20px;font-size:24pt;display:block;"><span>行事曆</span></a>
		</div>
	</div>

<div class="field_content_bar"></div>
<div class="field_content">
	<div class="mday-td"><{$c_block}></div>
</div>
<div class="field_bottom"></div>

</div>
