<div class="forum_field" style="border-width:2px">
<div class="forum_title">中大新生Q&A</div>
<div class="forum_content" style="margin:0 20px">
<font color=#0000FF><strong>Q</strong>: 英文能力分級測驗的免試證明要如何交到語言中心呢? 為了這張單子還要跑一趟中央未免也太麻煩了。 </font> <br/>
A: 你只要在9/3前寄到中央大學的語言中心就可以了，要注意是以收到的時間為準。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 像是床墊、腳踏車之類的大型物品可不可以在學校附近購買呢? </font><br/>
A: 大部分的中大學生的確是在學校附近購買腳踏車的，至於其他東西學校附近的確是有賣，可是不能保證買得到，所以還是請大家帶好必備物品。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 該買筆電還是桌電呢？筆電會不會很容易被偷？上課會不會用到筆電呢？</font><br/>
A: 該買桌電和筆電其實完全是依個人需要做決定，如果選擇帶筆電又怕被偷的話可以鎖在衣櫃裡，還滿少人上課使用筆電的，不過有些教授可能會讓學生帶筆電參加考試，這時候就方便了，但很少見。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 為什麼要初選阿？我們現在可以選什麼課呢？</font><br/>
A: 大一初選只要先選通識課跟軍訓或其他想選的課程就可以，核心課和國文加退選時間再選就好，英文在大一英文分級測驗後學校會自動預選不用擔心。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 顯示”不參加初選”的課是不是不能選呢？可是為什麼還是看到有人選阿？</font><br/>
A: 不參加初選的課程可以在加退選期間選，就算現在先選，等到初選結束時系統也不會處理，並在原本顯示<待分發>處顯示<不處理>，所以不用擔心。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 志願序要怎麼填？</font><br/>
A: 志願序就照你想上課的程度排就可以了，不用想太多。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 怎麼拿密碼卡？什麼是退選密碼卡？</font><br/>
A: 密碼卡通常是在第一堂課時由教授發給學生，有了密碼卡就保證會中選，不過數量有限，如果真的很想修課可以直接去問教授看看能不能拿到，而退選密碼卡就是退選時用的密碼卡，有些課程在中選之後若要退選會需要用到，可以直接去跟教授拿，但通識課大部分是不需要的。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 大一一學期大概要修幾學分比較好呢？</font><br/>
A: 要修幾學分要看個人負荷能力了，通常超過20學分就算滿重，大家可以用自己分配的讀書時間來決定要修多少學分，另外，一學期最多只能修三門通識課。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 在中大是不是沒有腳踏車就活不下去？</font><br/>
A: 對大部分人來說，是的，在下課時間常常可以看到大批的腳踏車在中大穿梭趕課，不過也有少部份人靠著雙腿行遍中大，所以看你的腳力決定囉。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 學校附近有大賣場嗎？</font><br/>
A: 有家樂福喔，可以上家樂福網站查詢地址跟地圖，從中大騎機車大約10分中左右車程。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 為什麼繳費單中有冷氣費了，開學又要我們買冷氣卡？</font><br/>
A: 在繳費單中的冷氣費只的是”冷氣裝機維護費”，而購買冷氣卡的費用是”冷氣使用電費”，每個房間裡都一定會有冷氣，所以就算你不想吹冷氣還是必須負擔這筆費用，至於冷氣卡可以跟室友合資購買，大家分攤電費。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 什麼是BB系統？</font><br/>
A: 就是BlackBoard(http://bb.ncu.edu.tw)，功能主要有：訊息公佈、電子檔上下傳、作業繳交、小組討論等。<br/>
<hr />
<font color=#0000FF><strong>Q</strong>: 選課系統中後面的必修跟選修選項有什麼差阿？</font><br/>
A: 那個選項關係到未來畢業審核的問題，新生們可不要隨便亂改喔，不然會造成不必要的麻煩。<hr/>
<font color=#0000FF><strong>Q</strong>: 勞動服務可以換時間嗎？可以選跟勞動服務衝堂的課嗎？</font><br/>
A: 勞服不可以換時間，不過時間是由各系決定，可能會跟課表上的時間不同，基本上會排在一到五，不會佔用到假日時間，課表上的時間只是形式上預選，但是選課時不能選跟勞動服務衝堂的課喔。<hr />
<font color=#0000F><strong>Q</strong>:新生 e-mail 認證 註冊時沒有填，現在還可以填嗎？</font><br/>
A:請到「個人資料」裡面點選「e-mail 確認」按鈕，填入 e-mail 帳號及密碼(新生填入生日)就可以囉^^<br/>
</div>
</div>