<div class="forum_field">
<div class="forum_content">

<div id="f_i_content" class="div">
<div id="c_toptopic" class="div"><div class="f_c_title">熱門文章</div><{$toptopic}></div>
<div id="c_hotboard" class="div"><div class="f_c_title"><img src="templates/images/f_i_hotboard.gif" /></div><{$hotboard}></div>
<div id="c_newtopic" class="div"><div class="f_c_title">最新文章</div><{$newtopic}></div>
<div id="c_qanda" class="div"><a href="faq.php"><img src="templates/images/f_i_qanda.gif" /></a></div>
<div id="c_dep" class="div"><a href="showGroup.php?gno=8"><img src="templates/images/f_i_dep.gif" /></a></div>
<div id="c_club" class="div"><a href="showGroup.php?gno=9"><img src="templates/images/f_i_club.gif" /></a></div>
<div id="c_board_title" class="div"><img src="templates/images/f_i_kerker.gif" /></div>
<{foreach from=$down item="board" name="down"}>
<div id="c_board<{$smarty.foreach.down.iteration}>" class="div c_board">
<div class="f_c_title2"><a href="viewboard.php?no=<{$board.board_no}>"><{$board.name}> <span style="font-size:10pt">&gt;&gt;進入</span></a></div><{foreach from=$board.topic item="topic"}><div class="f_c_topic"><a href="viewtopic.php?no=<{$topic.topic_no}>"><{$topic.title}></a></div><{/foreach}>
</div>
<{/foreach}>
</div>

</div>
</div>
