<div class="blue_back">
	<div class="field_top_top">
		<img src="templates/images/question.gif" class="field_title"/><img class="in_section" src="<{$currconfig->url}>/templates/images/pine<{$curruser->pic}>.gif"/>
	</div>

<div class="field_content_bar">回覆追蹤</div>
<div class="field_content">
	<div style="padding: 10px 10px 0px"><{$reply_block}></div>
</div>
<div class="field_bottom" style="margin-bottom:20px"></div>

<div class="field_content_bar">文章追蹤</div>
<div class="field_content">
	<div style="padding: 10px 10px 0px"><{$topic_block}></div>
</div>
<div class="field_bottom"></div>

</div>
