<{include file="topic_header.htm"}>
<div class="topic_view">
<div class="field2_top"><{$_WikiTopic->title}> - 編修主題</div>
<div class="field2_content">
  <form action="" method="post">
    <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collaspe;" align="center">
      <tr>
        <th>編修主題</th>
      </tr>
      <tr>
        <td>
<{assign var=tid value="contents"}>
<{include file="toolbar.htm"}>
          <textarea id="contents" name="content" rows="15" cols="60"><{$_WikiPost->content}></textarea>
        </td>
      </tr>
      <tr>
        <td align="center"><input type="hidden" name="newpost" value="1" /><input type="hidden" name="pno" value="<{$_WikiPost->pno}>" /><input type="submit" value="更新內容" />&nbsp;&nbsp;<input type="reset" value="重新填寫" /></td>
      </tr>
    </table>
  </form>
</div>
</div>
<p class="field2_bottom"></p>
