<div style="margin-bottom: 20px; color: #FF0000; font-weight: bold; text-align: center"><{$action_msg}></div>
<p class="field2_top">
<{if (!$setedit)}>新增<{else}>編輯<{/if}>類別</p>
<div class="field2_content">
  <form action="" method="post">
    <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse;" align="center">
<{if (!$setedit)}>
      <tr>
        <td colspan="2">新增至
          <select name="goal" size="1">
            <option value="0" selected>根類別</option>
<{section name="result" loop=$cats}>
            <option value="<{$cats[result].cno}>"><{$cats[result].name}></option>
<{/section}>
        </select></td>
      </tr>
<{/if}>
      <tr>
        <td>分類名稱&nbsp;&nbsp;<input type="text" name="name" value="<{$target.name}>" size="20" /></td>
        <td>管理者名單&nbsp;&nbsp;<input type="text" name="manager" value="<{$target.manager}>" size="25" /></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="hidden" name="act" value="<{if ($setedit)}>edit<{else}>add<{/if}>" />
<{if ($setedit)}><input type="hidden" name="category" value="<{$target.cno}>" /><{/if}>
<input type="submit" value="<{if (!$setedit)}>新增<{else}>編輯<{/if}>" /></td>
      </tr>
    </table>
  </form>
</div>
<p class="field2_bottom"></p>
<br />
<p class="field2_top">類別管理</p>
<div class="field2_content">
  <form action="" method="post" onSubmit="
	if ($('action6').checked) { return confirm('確定要刪除');}
">
    <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse;" align="center">
      <tr>
        <td rowspan="6" valign="top">將
          <select name="category" size="1">
            <option selected>...</option>
<{foreach from=$cats item="item"}>
            <option value="<{$item.cno}>"><{$item.name}></option>
<{foreach from=$item.child item="child"}>
            <option value="<{$child.cno}>">&nbsp;&nbsp;&nbsp;&nbsp;<{$child.name}></option>
<{/foreach}>
<{/foreach}>
        </select></td>
        <td><input type="radio" name="action" value="1" checked />移到上一層</td>
      </tr>
      <tr>
        <td><input type="radio" name="action" id="action2" value="2" />移到
          <select name="goal" size="1" onfocus="javascript: document.getElementById('action2').checked = true;">
            <option selected>...</option>
<{section name="result" loop=$cats}>
            <option value="<{$cats[result].cno}>"><{$cats[result].name}></option>
<{/section}>
          </select>
        中</td>
      </tr>
      <tr>
        <td><input type="radio" name="action" value="3" />向上移</td>
      </tr>
      <tr>
        <td><input type="radio" name="action" value="4" />向下移</td>
      </tr>
      <tr>
        <td><input type="radio" name="action" value="5" />編輯</td>
      </tr>
      <tr>
        <td><input type="radio" name="action" id="action6" value="6" />刪除</td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="hidden" name="act" value="move" /><input type="submit" value="確定" />&nbsp;&nbsp;&nbsp;
<input type="reset" value="取消" /></td>
      </tr>
    </table>
  </form>
</div>
<p class="field2_bottom"></p>
