影片名稱：<{$name}><br />
####高畫質################################################<br />
影片檔名：<{$video.name}><br />
影片大小：<{$video.size}><br />
影片類型：<{$video.type}><br />
影片暫存：<{$video.tmp_name}><br />
錯誤碼碼：<{$video.error}><br />
####低畫質################################################<br />
影片檔名：<{$low.name}><br />
影片大小：<{$low.size}><br />
影片類型：<{$low.type}><br />
影片暫存：<{$low.tmp_name}><br />
錯誤碼碼：<{$low.error}><br />
####預覽圖################################################<br />
圖片檔名：<{$image.name}><br />
圖片大小：<{$image.size}><br />
圖片類型：<{$image.type}><br />
圖片暫存：<{$image.tmp_name}><br />
錯誤碼碼：<{$image.error}><br />
####內容耶################################################<br />
內容介紹：<br />
<{$content}><br />
####沒了唷################################################<br />
<br />
請稍等上傳…