<style type="text/css">
#mainmenu
{
	overflow: hidden;
	width: 200px;
}

#mainmenu a
{
	color: #999999;
}
</style>

<div id="mainmenu">
  <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse;">
    <tr>
      <td>
上站人次:<{$currconfig->total_guests}>
      </td>
    </tr>
    <tr>
      <td>
<a href="<{$block.dirname}>/youth/html/sub_html/love.php" title=""><img src="<{$block.dirname}>/youth/logo/jpg/love.jpg" border="0" width="190" /></a>
      <td>
    </tr>
    <tr>
      <td>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="190" height="40">
  <param name="movie" value="<{$block.dirname}>/templates/swf/blog2.swf" />
  <param name="quality" value="high" />
  <embed src="<{$block.dirname}>/templates/swf/blog2.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" loop="false" type="application/x-shockwave-flash" width="190" height="40"></embed>
</object>
      </td>
    </tr>
    <tr>
      <td>
<a href="http://radio.pinewave.tw" target="_blank">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="190" height="40">
  <param name="movie" value="<{$block.dirname}>/templates/swf/radio.swf" />
  <param name="quality" value="high" />
  <embed src="<{$block.dirname}>/templates/swf/radio.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" loop="false" type="application/x-shockwave-flash" width="190" height="40"></embed>
</object>
</a>
      </td>
    </tr>
    <tr>
      <td>
<!--
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="190" height="40">
  <param name="movie" value="<{$block.dirname}>/templates/swf/radio.swf" />
  <param name="quality" value="high" />
  <embed src="<{$block.dirname}>/templates/swf/radio.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" loop="false" type="application/x-shockwave-flash" width="190" height="40"></embed>
</object>
-->
      </td>
    </tr>
    <tr>
      <td>
<a href="<{$currconfig->url}>/module/superask/view.php?tno=217" title=""><img src="<{$block.dirname}>/templates/images/ncusa_logo.jpg" border="1" width="190" /></a>
      </td>
    </tr>
    <tr>
      <td>
<a href="<{$currconfig->url}>/module/question" title=""><img src="<{$block.dirname}>/templates/images/dm.gif" border="0" width="190" /></a>
      </td>
    </tr>
    <tr>
      <td>
      </td>
    </tr>
  </table>
</div>


