<{if (!$curruser->isguest())}>
<script type="text/javascript">
function show_msg_status(req)
{
	var msg_num = req.responseText;
	var status = (msg_num > 0) ? '<a href="<{$block.dirname}>/msgbox.php" title="訊息信箱">您有 ' + msg_num + ' 封新訊息</a>' : '您沒有新訊息';
	$('msg_status').innerHTML = status;
}

function get_msg_status()
{
	var parms = "unread=1";
	var req = new Ajax.Request("<{$block.dirname}>/msgbox_do.php", {method: "get", parameters: parms, onComplete: show_msg_status});
	setTimeout(get_msg_status, 60 * 1000);
}

get_msg_status();

/* <{$block.name}> 歡迎回來^^ <span id="msg_status"><{$block.unreadmail}></span><br /> */
// 
</script>

<div id="login_block">
<span style="color: #FFFFFF;"><{$block.name}>歡迎回來 ^^ <{$block.unreadmail}></span><br />
<a title="個人資料" href="<{$block.dirname}>/edit_pfile.php"><img src="<{$block.dirname}>/templates/images/login_personal.gif" alt="個人資料" /></a>
<a title="個人信箱" href="<{$block.dirname}>/msgbox.php"><img src="<{$block.dirname}>/templates/images/login_mailbox.gif" alt="個人信箱" /></a>
<a target="_blank" title="商城" href="<{$block.dirname}>/module/shop/"><img src="<{$block.dirname}>/templates/images/login_shoppingmall.gif" alt="商城" /></a>
<a title="登出" href="<{$block.dirname}>/include/user.php?user_logout=1"><img src="<{$block.dirname}>/templates/images/login_logout.gif" alt="登出" /></a>
</div>
<{/if}>
