<style type="text/css">
h4
{
	padding-left: 25px;
}

td#aboutus_title
{
	padding-left: 45px;
}

td#aboutus_content
{
	padding-left: 10px;
}

#aboutus_purpose
{
	padding-left: 25px;
}

#aboutus_join
{
	padding-left: 25px;
}
#aboutus_main
{
	margin: 0px 5px 0px 5px;
	border: 2px solid #dfdfdf;
	padding-left:20px;
	padding-right:20px;
	line-height: 25px;
}
</style>
<div id="aboutus_main">
  <h2>成立宗旨</h2>
  <div id="aboutus_purpose">
    　　各位中大新鮮人你們好，大學生活總是令人充滿著憧憬，但一個全新的陌生環境卻也令人生畏；「大一生活知訊網」就是在瞭解新生的心情，準備熱情貼心地迎接學弟妹加入，在2003年被中大首創出來！
	      <br />
    　　由同樣也經歷過新鮮人期待又徬徨心境的學長姐，一年又一年的經驗傳承及追求創新，所有的付出都是為了讓最新鮮的學弟妹到了即將踏入校門的那一刻，早已對校園內及周遭的環境及資源有初步的認識，不必擔心不知道如何抵達中大，不必擔心最重要的住宿問題，不必擔心到來的第一天不知道哪裡有好吃的東西，更不必擔心自己會錯過各項重要的註冊時程！
	      <br />
    　　知訊網更為各位新鮮人準備了校內各系及社團的專屬資訊頁面及論壇，讓各位無時無刻都可以感受到學長姐的夏日熱情，也不會錯過任何與系上迎新及學習的相關訊息！
	      <br />
    　　愛用善用「大一生活知訊網」，你將順利踏進最美麗的校園~中央大學！
  </div>
  <h2>團隊成員</h2>
  <table border="0">
    <tr>
	  <td colspan="6"><h4>執行組</h4></td>
	</tr>
	<tr>
	  <td id="aboutus_title">執行長</td><td id="aboutus_content">資工3A</td><td id="aboutus_content">陳冠文</td><td id="aboutus_title">副執行長</td><td id="aboutus_content">資工3B</td><td id="aboutus_content">賴彥汝</td>
	</tr>
    <tr>
	  <td colspan="6"><h4>程式組</h4></td>
	</tr>
	<tr>
	  <td id="aboutus_title">組長</td><td id="aboutus_content">資工3B</td><td id="aboutus_content">林長融</td><td id="aboutus_title">副組長</td><td id="aboutus_content">資工3A</td><td id="aboutus_content">高毓甫</td>
	</tr>
	<tr>
	  <td id="aboutus_title">組員</td><td id="aboutus_content">資工3A</td><td id="aboutus_content">陳政偉</td><td id="aboutus_title">組員</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">龔信文</td>
	</tr>
	<tr>
	  <td id="aboutus_title">組員</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">徐崑泰</td><td id="aboutus_title">組員</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">陳玉琴</td>
	</tr>
    <tr>
	  <td colspan="6"><h4>美工組</h4></td>
	</tr>
	<tr>
	  <td id="aboutus_title">組長</td><td id="aboutus_content">資工3B</td><td id="aboutus_content">林婉儀</td><td id="aboutus_title">副組長</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">吳少辰</td>
	</tr>
	<tr>
	  <td id="aboutus_title">組員</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">陳俊良</td><td id="aboutus_title">組員</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">郭欣如</td>
	</tr>
	<tr>
	  <td id="aboutus_title">組員</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">林明萱</td><td id="aboutus_title"> </td><td id="aboutus_content"> </td><td id="aboutus_content"> </td>
	</tr>
    <tr>
	  <td colspan="6"><h4>影音組</h4></td>
	</tr>
	<tr>
	  <td id="aboutus_title">組長</td><td id="aboutus_content">企管3B</td><td id="aboutus_content">林雅旋</td><td id="aboutus_title"> </td><td id="aboutus_content"> </td><td id="aboutus_content"> </td>
	</tr>
	<tr>
	  <td id="aboutus_title">組員</td><td id="aboutus_content">資工3B</td><td id="aboutus_content">顏朋愉</td><td id="aboutus_title">組員</td><td id="aboutus_content">資管4B</td><td id="aboutus_content">賀華雩</td>
	</tr>
	<tr>
	  <td id="aboutus_title">組員</td><td id="aboutus_content">大氣2B</td><td id="aboutus_content">簡珊萍</td><td id="aboutus_title">組員</td><td id="aboutus_content">資工2B</td><td id="aboutus_content">金姵辰</td><td id="aboutus_title"> </td>
	</tr>
    <tr>
	  <td colspan="6"><h4>企劃組</h4></td>
	</tr>
	<tr>
	  <td id="aboutus_title">組長</td><td id="aboutus_content">資工3B</td><td id="aboutus_content">楊慧君</td><td id="aboutus_content"> </td><td id="aboutus_content"> </td>
	</tr>
	<tr>
	  <td id="aboutus_title">組員</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">陳儒廷</td><td id="aboutus_title">組員</td><td id="aboutus_content">資工2A</td><td id="aboutus_content">劉乃苑</td><td id="aboutus_title"> </td>
	</tr>
  </table>
  <h2>加入我們</h2>
    <div id="aboutus_join">
  　　「２００８大一生活知訊網工作團隊」在完成今年的迎新使命後，預定在10月卸下重任交棒；只要你／妳感受到「大一生活知訊網」陪伴你走進大學校園的用心，讓你也懷抱熱情，想支持明年的新鮮人更多更豐富的資訊，「２００９大一生活知訊網工作團隊」歡迎你／妳的加入！
        <br />
  　　更完善招募資訊將會在開學後，在校內各處張貼海報並於ＢＢＳ上有招生Ｂ宣，敬請期待！
    </div>
	<p />
</div>
