* html #QA_MAIN_OUTER {
	padding: 0;
	margin-left: 20px;
	margin-right: -20px;
}
* html #QA_navigate_bar_page {
	width: 520px;
}

* html .QA_page_select form {
	_display: inline;
}

* html img,
* html .png {
    position:relative;
    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
        this.src = "/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
        this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
    );
}

* html #cp_intro_content {
	height: expression( this.scrollHeight > 500 ? "500px" : "auto" );
}

* html #campus_sub_menu {
	height: expression( this.scrollHeight < 100 ? "100px" : "auto" );
}
