<div id="indexs">
  <div id="indexs_l">
    <{$news_block}>
    <br class="clear" />&nbsp;
    <br class="clear" />&nbsp;
    <{$newt_topic}>
    <br class="clear" />&nbsp;
    <br class="clear" />&nbsp;
  
    <div align="right" style="padding:0px 30px;">
    <a target="_blank" href="http://radio.pinewave.tw/"><img src="templates/images/adButtom01.png" alt="松濤電台" /></a>
  &nbsp;&nbsp;
    <a target="_blank" href="http://student.ncu.edu.tw/"><img src="templates/images/adButtom02.png" alt="學生會" /></a>
    <br class="clear"/>
    <br class="clear"/>
    <a target="_blank" href="http://passport.ncu.edu.tw/"><img src="templates/images/adButtom03.png" alt="中大護照" /></a>
  &nbsp;&nbsp;
    <a target="_blank" href="http://ncugrad.pinewave.tw/"><img src="templates/images/adButtom04.png" alt="研一新生專區" /></a>
    <br class="clear"/>
    <br class="clear"/>
    <img src="templates/images/adButtom_empty.gif" />
  &nbsp;&nbsp;
    <a href="<{$currconfig->url}>/module/question/answer.php?Qid=1"><img src="templates/images/adButtom05.png" alt="大一生活知訊網問卷" /></a>
    </div>
  </div>
  <div id="indexs_r">
    <{$video}>
  <br class="clear" />&nbsp;&nbsp;
  <br class="clear" />&nbsp;&nbsp;
    <{$lnk_block}>
  </div>
</div>
