<div class="r_block_half">
<a class="hot" target="_blank" href="templates/docs/2009Active.pdf">諮商中心最新活動手札</a><br />
<a target="_blank" href="module/mustknow/attachfiles/cars.doc">車輛進校通行證明</a><br />
<a target="_blank" href="module/mustknow/attachfiles/course.doc">電子選課操作說明</a><br />
<a target="_blank" href="module/mustknow/attachfiles/credit.doc">學分抵免申請表</a><br />
<a target="_blank" href="module/mustknow/attachfiles/dorm.doc">學生宿舍管理辦法</a><br />
<a target="_blank" href="module/mustknow/attachfiles/englishExam.doc">英文能力分級測驗補考申請表</a><br />
<a target="_blank" href="module/mustknow/attachfiles/flowchart.doc">新生報到交通管制</a><br />
<a target="_blank" href="module/mustknow/attachfiles/guide.pdf">學習導航手冊</a><br />
<a target="_blank" href="module/mustknow/attachfiles/health.doc">新生健康檢查項目說明</a><br />
</div>
<div class="r_block_half">
<a target="_blank" href="module/mustknow/attachfiles/military.doc">役男兵役資料表</a><br />
<a target="_blank" href="module/mustknow/attachfiles/militaryChildren.doc">軍公教遺族子女就學優待申請書</a><br />
<a target="_blank" href="module/mustknow/attachfiles/ncu_freshman_chinese.doc">大一國文願景</a><br />
<a target="_blank" href="module/mustknow/attachfiles/placidDorm.doc">寧靜宿舍細則1</a><br />
<a target="_blank" href="module/mustknow/attachfiles/placidDorm2.doc">寧靜宿舍細則2</a><br />
<a target="_blank" href="module/mustknow/attachfiles/scholarship.doc">中央大學校內獎學金</a><br />
<a target="_blank" href="module/mustknow/attachfiles/applyform.doc">大一生取消住宿申請表</a><br />
<a target="_blank" href="module/mustknow/attachfiles/applypros.doc">取消住宿申請流程圖</a><br />
</div>
