<div id="web_map_outer" class="inlineblock">
	<div id="wm_up" class="inlineblock">
		<div id="wm_ul">
			<a id="wm_mustknow" href="<{$currconfig->url}>/module/mustknow/"><img src="templates/images/map/mustknowLOGO.gif"></a>
			<div class="wm_sector">
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=4">大一新生宿舍<br />
				<!--<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=14">宿舍申請辦法<br />-->
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=5">學籍登錄<br />
				<!--<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=26">導師輔導意見調查<br />-->
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=7">健康檢查流程及注意事項<br />
				<!--<a href="">新生入學輔導講座<br />-->
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=9">男生兵役注意事項<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=10">大一國文寫作檢定<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=11">僑生大一國文能力分級測驗<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=12">大一英文能力分級測驗<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=39">大學生活心裡適應講座<br />
			</div>
			<div style="width:30px;" class="diver"></div>
			<div class=" wm_sector">
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=26">申請就學貸款<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=27">學雜費減免<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=28">服務學習課程<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=29">中大護照<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=30">課後輔導<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=31">學習導航手冊<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=41">大一國文須知<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=37">選課須知<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=38">選課教學<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=33">性別平等<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=34">親師懇談<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=35">導師制度<br />
				<a href="<{$currconfig->url}>/module/mustknow/index.php?csn=40">大一導師輔導<br />
			</div>
		</div>
		<div id="wm_ur" class="inlineblock">
			<div id="wm_uru" class="inlineblock">
				<a id="wm_nculife" href="<{$currconfig->url}>/module/nculife/"><img src="templates/images/map/nculifeLOGO.gif"></a>
				<div class="wm_sector">
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=1">簡易交通說明<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=2">搭乘高鐵<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=7">搭乘客運<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=8">校際專車<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=9">自行開車到中大<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=10">校內交通<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=11">搭乘公車<br />
				</div>
				<div style="width:25px;" class="diver"></div>
				<div class="wm_sector">
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=24">宵夜街<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=25">後門<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=23">校內餐廳<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=28">學生餐廳<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=29">露天咖啡廳<br />
				</div>
				<div style="width:45px;" class="diver"></div>
				<div class="wm_sector">
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=17">郵件招領<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=19">男生新生宿舍<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=26">女生新生宿舍<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=21">宿網申請<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=22">宿舍所需裝備<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=20">宿舍冷氣使用<br />
				</div>
				<div style="width:35px;" class="diver"></div>
				<div class="wm_sector">
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=18">醫療資源<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=3">洗衣部<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=4">郵局<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=16">敦煌書局<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=30">印象髮廊<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=14">中大眼鏡行<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=13">第一銀行<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=12">校內萊爾富<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=5">附近量販店位置<br />
					<a href="<{$currconfig->url}>/module/nculife/index.php?t_ID=27">心理諮商<br />
				</div>
			</div>
			<div id="wm_urd" class="inlineblock">
				<div id="wm_urdl">
					<a id="wm_home" href="<{$currconfig->url}>/"><img src="templates/images/map/home.gif"></a>
				</div>
				<div id="wm_urdr">
					<a id="wm_QA" href="<{$currconfig->url}>/module/QA/"><img src="templates/images/map/QA.gif"></a>
				</div>	
			</div>
			
		</div>
	</div>
	
	<div id="wm_down" class="inlineblock">
		<div id="wm_dl" class="inlineblock">
			<div class="ele_first">
				<a href="<{$currconfig->url}>/module/forum/"><img src="templates/images/map/forum.gif"></a>
			</div>
			<div class="wm_dl_ele">
				<a href="<{$currconfig->url}>/module/regwizard/"><img src="templates/images/map/regwizard.gif"></a>
			</div>
			<div class="wm_dl_ele">
				<a href="<{$currconfig->url}>/module/aboutus/"><img src="templates/images/map/aboutus.gif"></a>
			</div>
		</div>
		<div id="wm_dr" class="inlineblock">
			<a id="wm_campus" href="#"><img src="templates/images/map/campusLOGO.gif"></a>
			<div class="wm_sector">
				<a href="<{$currconfig->url}>/module/campus/index.php?content=3">註冊組</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=4">文書組</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=6">出納組</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=62">學務處</a><br />
			</div>
			<div style="width:50px;" class="diver"></div>
			<div class="wm_sector">
				<a href="<{$currconfig->url}>/module/campus/index.php?content=8">中大路上</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=9">筆墨紙硯</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=10">情人步道</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=11">綠草如茵</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=12">太極銅雕</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=13">烏龜池</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=14">百花川語</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=15">松濤書閣</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=16">女十四舍前廣場</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=60">中大湖畔</a><br />
			</div>
			<div style="width:20px;" class="diver"></div>
			<div class="wm_sector">
				<a href="<{$currconfig->url}>/module/campus/index.php?menu=3">系館位置</a><br />
			</div>
			<div style="width:50px;" class="diver"></div>
			<div class="wm_sector">
				<a href="<{$currconfig->url}>/module/campus/index.php?content=42">國鼎圖書館</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=41">總圖書館</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=45">中正圖書館</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=44">藝文中心</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=43">自學中心</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=47">107藝術電影院</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=63">閱讀坊</a><br />
			</div>
			<div style="width:30px;" class="diver"></div>
			<div class="wm_sector">
				<a href="<{$currconfig->url}>/module/campus/index.php?content=48">依仁堂</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=49">排球場</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=50">籃球場</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=51">羽球場</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=53">網球場</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=54">桌球室</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=55">溜冰場</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=56">游泳池</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=57">攀岩</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=58">操場</a><br />
				<a href="<{$currconfig->url}>/module/campus/index.php?content=59">壘球場</a><br />
			</div>
			<div style="width:60px;" class="diver"></div>
			<div class="wm_sector">	
				<a href="<{$currconfig->url}>/module/campus/index.php?menu=6">全校地圖</a><br />
			</div>
		</div>
	</div>
</div>

<div style="clear:both"></div>
