<div id="ma_container">
 <div class="ma_read_title"><{$msg.title}></div>
   <div class="ma_read_detail">
     <div align="left" style="width:500px; float: left;">寄件日期：<{$msg.time}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寄件人：<{$msg.sender_id}></div>
     <div align="right" style="width: 200px; float: left;">
       <a href="redirect.php?1" title="我的信箱">[收件匣]</a>
       <a href="msgsend.php?msgreply=1&title=<{$msg.title|urlencode}>&fno=<{$msg.sender_no}>" title="回覆留言">[回覆]</a>
       <a href="msgbox_do.php?msgdel=1&mno=<{$msg.mno}>" title="刪除留言">[刪除]</a>
     </div>
   </div>
   <div class="ma_read_content"><{$msg.content}></div>
</div>