<div class="blue_back">
<div class="field_top_top"><img src="templates/images/personallist.gif" class="field_title"/><img src="templates/images/pine<{$curruser->pic}>.gif" class="in_section"/></div>
<div class="field_content_bar">計中 e-mail 身分確認</div>
<div class="field_content">
  <form method="post" action="">
    <table border="0" cellpadding="5" cellspacing="0" style="border-collapse: collapse" >
      <tr>
        <td>計中 e-mail 帳號 (學號)</td>
        <td><input type="text" name="sid" size="20" /></td>
      </tr>
      <tr>
        <td>計中 e-mail 密碼</td>
		<td><input type="password" name="spwd" size="20" /></td>
	  </tr>
	  <tr>
	    <td>新生密碼請填出生日期 (YYYYMMDD)</td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" value="確定" /></td>
      </tr>
    </table>
  </form>
</div>
<div class="field_bottom"></div>
</div>
