<form method="post" action="" OnSubmit="if (!this.agreerule.checked) {this.agreerule.focus(); return false;}">

<div style="color:#333333; border: solid 1px #CCCCCC; overflow: auto ;width: 700px; height: 600px; margin:auto;">

<center>2009 大一生活知訊網使用者條款</center>
<br />
<br />
基本條款：<br />
<ol>
<li>使用者於知訊網之發言必須遵守中華民國現有之各項法律條文。</li>
<li>不得發佈任何關於色情、非法以及危害國家安全之言論。</li>
<li>嚴禁連結有關政治、色情、迷信、種族之爭議性或偏激性訊息。</li>
<li>嚴禁連結商業廣告、論壇、註冊網站或論壇廣告。</li>
<li>請使用者互相尊重並遵守網際網路道德，嚴禁互相惡意攻擊或謾罵。</li>
<li>嚴禁盜用他人連結、帳號，或未經許可轉貼他人文章、圖像及任何網路資源。</li>
<li>請勿張貼與討論串主題無關之消息或發表無意義之言論。</li>
<li>使用者不得利用知訊網服務進行任何商業行為。</li>
</ol>
<br />
帳號註冊與暱稱使用說明：<br />
<ol>
<li>請勿註冊和使用不雅、具爭議性、有針對性、不健康之帳號與暱稱。</li>
<li>請勿註冊和使用易產生歧義、引人誤解或不舒服的帳號與暱稱。</li>
</ol>
<br />
知訊網之權益聲明：<br />
<ol>
<li>使用者應承擔一切因您的行為直接或間接導致之法律責任。</li>
<li>本站僅提供一平台供使用者交流討論，一切下載與分享行為皆屬個人行為。</li>
<li>管理團隊有權保留或刪除知訊網中任何內容、帳號。</li>
<li>本網站上所使用之程式、圖形、圖畫、文字內容、檔案、頁面設計、網站規劃與安排等之專利權、著作權、商標權、專門技術及其他智慧財產權均屬知訊網及相關權利人所有，非經權利人事先書面授權同意，使用者不得重製、公開傳播、改作、編輯、散佈、解碼、反向組譯或其他方式之使用。如有違反，除自行負擔法律責任外，知訊網亦得向該使用者請求損害賠償或提起侵權之訴訟。</li>
</ol>
<br />
請使用者特別注意之版權問題：<br />
<ol>
<li>凡轉貼文章，請註明原始出處及創作人，否則知訊網有權刪除以維護權利人之權益。</li>
<li>轉貼文章時請注意原發表單位之版權聲明，並負擔由此可能產生的版權問題。</li>
<li>使用者參與知訊網，即表明您已閱讀並接受本文之各項條款及聲明。</li>
<li>知訊網管理團隊擁有管理頁面、帳號、暱稱、使用者行為之一切權力，請使用者服從管理，如對管理行為有任何意見或建議，請逕向知訊網團隊聯繫。感謝您的配合。</li>
</ol>
</div>
<center>
<br /><br />
<input type="checkbox" name="agreerule" value="1" />我同意
<input type="submit" value="開始註冊" />
</center>
</form>

