<style type="text/css">
#worker_bg
{
	background: url("templates/images/worker_bg.jpg") no-repeat;
	color: #666666;
	font-size: 10pt;
	letter-spacing: 1pt;
	padding: 20px;
	width: 560px;
	height: 350px;
}

#worker_bg h1
{
	color: #990033;
	font-size: 12pt;
	font-weight: bold;
}
</style>

<div id="worker_bg">
  <h1>2007 大一生活知訊網工作團隊名單</h1>
  <table border="0" cellpadding="7" cellspacing="0" style="border-collapse: collapse;" align="center" width="100%">
    <tr>
      <td>執行長 經濟三 邱鈺庭</td>
      <td>程式組組長 資工三 王乙融</td>
    </tr>
    <tr>
      <td>副執行長 資工三 錢雅馨</td>
      <td>資工三 李育緯</td>
    </tr>
    <tr>
      <td>企劃組組長 資工三 李梓姍</td>
      <td>資工二 陳冠文</td>
    </tr>
    <tr>
      <td>中文二 林育德</td>
      <td>資工二 林長融</td>
    </tr>
    <tr>
      <td>資工二 許文馨</td>
      <td>資工二 賴彥汝</td>
    </tr>
    <tr>
      <td>美工組組長 經濟三 邱鈺庭</td>
      <td>影音組組長 資工三 林松輝</td>
    </tr>
    <tr>
      <td>美工組組長 資工三 錢雅馨</td>
      <td>企管二 林雅旋</td>
    </tr>
    <tr>
      <td>大氣二 黃培倫</td>
      <td>資工二 歐人豪</td>
    </tr>
    <tr>
      <td>資管二 楊家華</td>
      <td>資工二 張鈞為</td>
    </tr>
  </table>
</div>
