<form action="reply_edit.php?action=new_newpost" method="post">
<div id="newtopic_title">發表文章</div>
<br class="clear" />
<div id="newtopic_inner">
  <{if $err_msg != NULL}>
  <div class="newtopic_inner_l"></div>
  <div class="newtopic_inner_r" style="color: #FF0033; font-weight: bold;"><{$err_msg}></div>
  <br class="clear" />
  <br class="clear" />
  <{/if}>
  <div class="newtopic_inner_l">內容:</div>
  <div class="newtopic_inner_r">
  <textarea name="Rcontent" cols="45" rows="8"><{$Qcontent}></textarea>
  </div>
  <br class="clear" />
  <br class="clear" />
  <div class="newtopic_inner_l"></div>
  <div class="newtopic_inner_r">
  <br class="clear" />
  <input name="isReply" type="hidden" value="1" />
  <input name="Rno" type="hidden" value="<{$Rno}>" />
  <input name="submit" type="submit" value="發表文章" />
  <input name="reset" type="reset" value="重新填寫" />
  </div>
  <br class="clear" />
</div>
</form>
