@charset "utf-8";
/* CSS Document */

#list01{
background: url(list01.gif) no-repeat 50%;
height: 97px;
}

#list02{
background: url(list02.gif) no-repeat 50%;
height: 194px;
}

#list03{
background: url(list03.gif) no-repeat 50%;
height: 98px;
margin-top: 10px;
}

#list04{
background: url(list04.gif) no-repeat 50%;
height: 186px;
}

#list05{
background: url(list05.gif) no-repeat 50%;
height: 161px;
margin-top: 5px;
}

#list06{
background: url(list06.gif) no-repeat 50%;
height: 101px;
}

#dep_01 a{
background: url(list01a.gif) no-repeat;
height:93px;
width:93px;
float: right;
position:relative;
right:10px;
}

#dep_01 a:hover{
background: url(list01a.gif) no-repeat 0% -93px;
}

#dep_02 a{
background: url(list01b.gif) no-repeat;
height:93px;
width:93px;
float: right;
position:relative;
right:30px;
}

#dep_02 a:hover{
background: url(list01b.gif) no-repeat 0% -93px;
}

#dep_03 a{
background: url(list01c.gif) no-repeat;
height:93px;
width:93px;
float: right;
position:relative;
right: 50px;
}

#dep_03 a:hover{
background: url(list01c.gif) no-repeat 0% -93px;
}

#dep_04 a{
background: url(list02a.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
top: 10px;
left: 55px;
}

#dep_04 a:hover{
background: url(list02a.gif) no-repeat 0% -93px;
}

#dep_05 a{
background: url(list02b.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
top: 10px;
left: 75px;
}

#dep_05 a:hover{
background: url(list02b.gif) no-repeat 0% -93px;
}

#dep_06 a{
background: url(list02c.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
top: 10px;
left: 95px;
}

#dep_06 a:hover{
background: url(list02c.gif) no-repeat 0% -93px;
}

#dep_07 a{
background: url(list02d.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
top: 85px;
right: 175px;
}

#dep_07 a:hover{
background: url(list02d.gif) no-repeat 0% -93px;
}

#dep_08 a{
background: url(list02e.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
top: 85px;
right: 155px;
}

#dep_08 a:hover{
background: url(list02e.gif) no-repeat 0% -93px;
}

#dep_09 a{
background: url(list02f.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
top: 85px;
right: 135px;
}

#dep_09 a:hover{
background: url(list02f.gif) no-repeat 0% -93px;
}

#dep_10 a{
background: url(list03a.gif) no-repeat;
height:93px;
width:93px;
float: right;
position:relative;
right:20px;
}

#dep_10 a:hover{
background: url(list03a.gif) no-repeat 0% -93px;
}

#dep_11 a{
background: url(list03b.gif) no-repeat;
height:93px;
width:93px;
float: right;
position:relative;
right:40px;
}

#dep_11 a:hover{
background: url(list03b.gif) no-repeat 0% -93px;
}

#dep_12 a{
background: url(list03c.gif) no-repeat;
height:93px;
width:93px;
float: right;
position:relative;
right:60px;
}

#dep_12 a:hover{
background: url(list03c.gif) no-repeat 0% -93px;
}

#dep_13 a{
background: url(list04a.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
left:355px;
}

#dep_13 a:hover{
background: url(list04a.gif) no-repeat 0% -93px;
}

#dep_14 a{
background: url(list04b.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
left:375px;
}

#dep_14 a:hover{
background: url(list04b.gif) no-repeat 0% -93px;
}

#dep_15 a{
background: url(list04c.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
top: 85px;
left: 110px;
}

#dep_15 a:hover{
background: url(list04c.gif) no-repeat 0% -93px;
}

#dep_16 a{
background: url(list04d.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
top: 85px;
left: 135px;
}

#dep_16 a:hover{
background: url(list04d.gif) no-repeat 0% -93px;
}

#dep_17 a{
background: url(list05a.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
left:80px;
top: 65px;
}

#dep_17 a:hover{
background: url(list05a.gif) no-repeat 0% -93px;
}

#dep_18 a{
background: url(list05b.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
left:100px;
top: 65px;
}

#dep_18 a:hover{
background: url(list015bgif) no-repeat 0% -93px;
}

#dep_19 a{
background: url(list05c.gif) no-repeat;
height:93px;
width:93px;
float: left;
position:relative;
left:120px;
top: 65px;
}

#dep_19 a:hover{
background: url(list05c.gif) no-repeat 0% -93px;
}

#dep_20 a{
background: url(list06a.gif) no-repeat;
height:93px;
width:93px;
float: right;
position:relative;
right: 50px;
top: 5px;
}

#dep_20 a:hover{
background: url(list06a.gif) no-repeat 0% -93px;
}


#dep_21 a{
background: url(list06b.gif) no-repeat;
height:93px;
width:93px;
float: right;
position:relative;
right: 70px;
top: 5px;
}

#dep_21 a:hover{
background: url(list06b.gif) no-repeat 0% -93px;
}
